.socialicon {
    display: flex;
    align-items: center;
    list-style: none;
}
.social {
    left: 7%;
    position: absolute;
    bottom: 3%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #009b95;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
}

.find a:hover{
    color: #54c6c1;
}

.find i{
    padding: 0 5px;
    font-size: 20px;
    margin-top: -5px;
    animation: place 1s infinite;
    animation-timing-function: linear;
}

.connect {
    margin-bottom: 20px;
    padding: 0;
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight: lighter;
    text-align: right;
}

.socialicon {
    display: flex;
    align-items: center;
    list-style: none;
}

.sociallink {
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: .3s;
}

.sociallink:hover {
    color: #FD2E24;
}

.sociallink i {
    padding: 0 10px;
}

.soc {
    float: left;
}
